
.news-item{
    border: 1px solid black;
    display: inline-block;
    width: 100%;
}
.news-title{
    font-style: italic;
    font-variant-caps: all-petite-caps;
    font-size: 24px;
    /*border: 0.1px;*/
    color: chocolate;
    padding: 0 0 0 0;
    margin:0 0 0 0;

}
.news-description{
    color: chocolate;
    padding: 0 0 0 0;
    margin:0 0 0 0;
    font-size: 19px;
}
.news-id{
    /*border: 1px solid black;*/
    float: left;
    vertical-align: center;
    horiz-align: center;
}
.buttons {
    border: none;
    color: white;
    width: 6em;
    /*padding: 15px 32px;*/
    /*padding: 0.3em 2em;*/
    padding: 0.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    opacity: 40%;
}
.buttons:hover{
    opacity: 100%;
    display: inline-block;
}

.buttons.delete {
    background-color: #f44336; /* red*/

}
.buttons.edit {
    background-color: #4CAF50; /* Green */
}

.button-group {
    /*float: right;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: left;*/
    /*height: 100%;*/
    /*width: auto;*/
}

/*Containers*/
.container{
    border: 1px dotted aqua;
    float: top;
    margin: 10px 10px 0px;
    padding: 1px;
}
.container.buttons{
    display: inline-block;
    float: left;
    margin: 1px;
}
.container.news-id{
    float: left;
    margin: 0;
    visibility: hidden;
}
.container.title{
    margin: 0;
}
.container.article{
    margin: 10px;
}
.article.input{
    width: 50%;
}
.footer.main{
    border: 1px dotted aqua;
    /*position: b;*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;*/
    /*color: white;*/
    text-align: center;
}
.nav{
    margin: 10px;
    font-size: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /*background-color: yellow;*/
    padding: 20px;
    border: 1px dashed aqua;
    display: inline-block;
}
.nav-a{
    text-decoration-line: none;
    font-variant-caps: all-petite-caps;
}
.nav.main{

}
